@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --primary: rgba(100, 108, 115, 1);
  --secondary: rgb(51, 51, 51);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'roboto', Tahoma, Verdana, sans-serif;
  min-height: 100vh;
  justify-content: center;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white);
}

main {
  display: grid;
  background-color: var(--white);
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  box-shadow: 10px 10px 7px -4px rgba(0, 0, 0, 0.34);
  min-height: 70vh;
}

.left {
  background-image: url('https://source.unsplash.com/random/?city,night');
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

form {
  margin: 2rem 2rem;
}

form h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 1px;
  padding: .5rem;
  color: rgba(100, 108, 115, 1);
}

main,
input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
  border-radius: 5px;
}

.field {
  margin: 2rem 1rem;
}

.field label,
.field span {
  width: 100%;
  color: var(--secondary);
}



input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  font-size: 1rem;
  line-height: 30px;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  height: 40px;
  margin: .5rem auto;
  border: none;
  outline: none;
  color: var(--white);
  cursor: pointer;
  width: 150px;
  transition: all .4s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--secondary);
}

footer {
  margin-top: 1rem;
  color: var(--white);
  text-align: center;
}

footer p {
  color: var(--white);
}